body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #bd8607;
  color: #1e1e1e;
}

/* Home page styles  */
.title,
.section-title {
  text-align: center;
}

.title {
  font-size: 72px;
  font-weight: 800;
}

.recipe-list {
  list-style: none;
  text-align: center;
}

.recipe-link {
  text-decoration: none;
  color: #810000;
  font-size: 48px;
  font-weight: 700;
}

.recipe-link:hover {
  text-decoration: underline;
}

/* Recipe page styles */

.section-title {
  font-size: 48px;
  font-weight: 800;
}

.text {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
}

.link {
  text-decoration: none;
  color: #810000;
  font-size: 40px;
}

.link:hover {
  text-decoration: underline;
}

/* Layout for home page */
/* Add container to html to all pages and center them */
.container {
  width: 900px;
  margin: 0 auto;
}

/* Add spacing on home page recipe list */
.recipe {
  margin-bottom: 64px;;
}

.home.title {
  margin-bottom:120px;
}

/* Center recipe images */
.recipe-img {
  display: block;
  margin: 0 auto;
}

/* Change Button Style to navigate back to home page*/

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 32px;
  background-color: #810000;
  color:#bd8607;
  padding: 12px 24px;
}

.btn:hover {
  background-color: #5f0000;
}

/* Increase line spacing */
.text {
  line-height: 1.;
}

/* Center btn */